if status is-interactive
    # Commands to run in interactive sessions can go here
end

alias qq='feh --randomize --bg-fill ~/Pictures/wall/'
nvm use latest >/dev/null
set -g fish_greeting
alias qv='sudo systemctl start vmware-networks.service  vmware-usbarbitrator.service'

# bun
set --export BUN_INSTALL "$HOME/.bun"
set --export PATH $BUN_INSTALL/bin $PATH