# backend = "xrender";
# vsync = true;
#
# inactive-opacity = 0.8;
# active-opacity = 0.9;
# frame-opacity = 1.0;
#
 opacity-rule = [
   "100:fullscreen"
 ];

# Backend & Performance
backend = "glx";
vsync = true;
use-damage = true;

# Shadows
shadow = true;
shadow-radius = 12;
shadow-opacity = 0.6;
shadow-offset-x = -7;
shadow-offset-y = -7;
shadow-color = "rgba(0, 0, 0, 0.5)";
shadow-exclude = [
  "class_g = 'i3-frame'",
  "class_g = 'Polybar'",
  "_GTK_FRAME_EXTENTS@:c"
];

# Fading
fading = true;
fade-in-step = 0.03;
fade-out-step = 0.03;
fade-delta = 4;

# Corners
corner-radius = 7;
round-borders = 1;

# Opacity
inactive-opacity = 0.6;
active-opacity = 0.8;
frame-opacity = 0.9;
inactive-opacity-override = false;

# Blur
blur-method = "dual_kawase";
blur-size = 10;
blur-strength = 7;

# Window Rules
unredir-if-possible = true;
unredir-if-possible-delay = 5000;
unredir-if-possible-exclude = [
  "class_g = 'mpv'",
  "class_g = 'Chromium'",
  "class_g = 'firefox'"
];

